<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zz.filereader">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".update.CheckUpdateService"
            android:enabled="true"
            android:exported="false"></service>

        <activity
            android:name=".contentviewer.vieweractivity.AudioPlayerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".contentviewer.vieweractivity.VideoPlayerActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".contentviewer.vieweractivity.ImageReaderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".contentviewer.vieweractivity.TextReaderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:requestLegacyExternalStorage="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>